;; Analyzed by ClojureScript 1.7.228
{:name tutorial-cljs.text.reagent, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses nil, :requires nil, :imports nil, :defs {text {:name tutorial-cljs.text.reagent/text, :file "/Users/jared/.boot/cache/tmp/Users/jared/clone/clojure/tutorial-cljs/1y1r/rcesf6/tutorial_cljs/text/reagent.cljs", :line 3, :column 1, :end-line 3, :end-column 10, :meta {:file "/Users/jared/.boot/cache/tmp/Users/jared/clone/clojure/tutorial-cljs/1y1r/rcesf6/tutorial_cljs/text/reagent.cljs", :line 3, :column 6, :end-line 3, :end-column 10}}, unready {:name tutorial-cljs.text.reagent/unready, :file "/Users/jared/.boot/cache/tmp/Users/jared/clone/clojure/tutorial-cljs/1y1r/rcesf6/tutorial_cljs/text/reagent.cljs", :line 99, :column 1, :end-line 99, :end-column 13, :meta {:file "/Users/jared/.boot/cache/tmp/Users/jared/clone/clojure/tutorial-cljs/1y1r/rcesf6/tutorial_cljs/text/reagent.cljs", :line 99, :column 6, :end-line 99, :end-column 13}}}}